
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">




<link rel="stylesheet" href="resources/css/nivo-slider.css" type="text/css" />
<link rel="stylesheet" href="resources/css/NivoSliderThemes/bar/bar.css" type="text/css" />

<style>
	
	@media (min-width: 1200px) {
		.aboutUsCell {
			min-height: 415px !important;
		}
	}
	@media (max-width: 1199px) {
		.aboutUsCell {
			min-height: 345px !important;
		}
	}
	@media (max-width: 991px) {
		.aboutUsCell {
			min-height: 265px !important;
		}
	}
	@media (max-width: 767px) {
		.aboutUsCell {
			min-height: 1px !important;
		}
	}
</style>


<!DOCTYPE html>






<html>




<!-- Mirrored from zivaz.com/aboutus by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 19 Aug 2017 06:28:21 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=ISO-8859-1" /><!-- /Added by HTTrack -->
<head>
    <title>Zivaz</title>
    
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta name="description" content="Zivaz Mexican Restaurant">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" type="text/css" href="../maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="resources/css/header.css" />
    <link rel="stylesheet" type="text/css" href="resources/css/mainf9e3.css?v=1.1" />
    <link rel="stylesheet" type="text/css" href="resources/css/custom83a7.css?v=1.9" />
    
    <link rel="shortcut icon" href="resources/images/favicon.ico" >
    <script src="../code.jquery.com/jquery-1.11.0.min.js"></script>
    
    <script src="resources/js/main.min.js" ></script>
</head>

<body>

	<div id="wrap">
	
	    								
	    
    	
		
		
		<nav>
		
			<div id="header" class="container">
		   			<a href="index.html">
		   				<img id="headerLogo" alt="" src="resources/images/Logo.svg" />
		   			</a>
		   			
		   			<div id="headerMenu">
		   				<p>
			   				<a href="index.html">HOME</a>
			   				<a href="menu.html">MENU</a>
			   				<a href="aboutus.html">ABOUT US</a>
			   			</p>
		   			</div>
		   			
		   			
		   				<img id="headerRandomImage" src="headerRandomImage28803.png?id=7" />
		   			
	   		</div>
			
		</nav>
		
		<div id="loadingAnimation">
			<h1 id="loadingText">LOADING</h1>
			


<style>
#spinningSquaresG{
position:relative;
width:240px;
height:29px}

.spinningSquaresG{
position:absolute;
top:0;
background-color:#000000;
width:29px;
height:29px;
-moz-animation-name:bounce_spinningSquaresG;
-moz-animation-duration:1.5s;
-moz-animation-iteration-count:infinite;
-moz-animation-direction:normal;
-moz-transform:scale(.3);
-webkit-animation-name:bounce_spinningSquaresG;
-webkit-animation-duration:1.5s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:normal;
-webkit-transform:scale(.3);
-ms-animation-name:bounce_spinningSquaresG;
-ms-animation-duration:1.5s;
-ms-animation-iteration-count:infinite;
-ms-animation-direction:normal;
-ms-transform:scale(.3);
-o-animation-name:bounce_spinningSquaresG;
-o-animation-duration:1.5s;
-o-animation-iteration-count:infinite;
-o-animation-direction:normal;
-o-transform:scale(.3);
animation-name:bounce_spinningSquaresG;
animation-duration:1.5s;
animation-iteration-count:infinite;
animation-direction:normal;
transform:scale(.3);
}

#spinningSquaresG_1{
left:0;
-moz-animation-delay:0.6s;
-webkit-animation-delay:0.6s;
-ms-animation-delay:0.6s;
-o-animation-delay:0.6s;
animation-delay:0.6s;
}

#spinningSquaresG_2{
left:30px;
-moz-animation-delay:0.75s;
-webkit-animation-delay:0.75s;
-ms-animation-delay:0.75s;
-o-animation-delay:0.75s;
animation-delay:0.75s;
}

#spinningSquaresG_3{
left:60px;
-moz-animation-delay:0.9s;
-webkit-animation-delay:0.9s;
-ms-animation-delay:0.9s;
-o-animation-delay:0.9s;
animation-delay:0.9s;
}

#spinningSquaresG_4{
left:90px;
-moz-animation-delay:1.05s;
-webkit-animation-delay:1.05s;
-ms-animation-delay:1.05s;
-o-animation-delay:1.05s;
animation-delay:1.05s;
}

#spinningSquaresG_5{
left:120px;
-moz-animation-delay:1.2s;
-webkit-animation-delay:1.2s;
-ms-animation-delay:1.2s;
-o-animation-delay:1.2s;
animation-delay:1.2s;
}

#spinningSquaresG_6{
left:150px;
-moz-animation-delay:1.35s;
-webkit-animation-delay:1.35s;
-ms-animation-delay:1.35s;
-o-animation-delay:1.35s;
animation-delay:1.35s;
}

#spinningSquaresG_7{
left:180px;
-moz-animation-delay:1.5s;
-webkit-animation-delay:1.5s;
-ms-animation-delay:1.5s;
-o-animation-delay:1.5s;
animation-delay:1.5s;
}

#spinningSquaresG_8{
left:210px;
-moz-animation-delay:1.65s;
-webkit-animation-delay:1.65s;
-ms-animation-delay:1.65s;
-o-animation-delay:1.65s;
animation-delay:1.65s;
}

@-moz-keyframes bounce_spinningSquaresG{
0%{
-moz-transform:scale(1);
background-color:#000000;
}

100%{
-moz-transform:scale(.3) rotate(90deg);
background-color:#FF8205;
}

}

@-webkit-keyframes bounce_spinningSquaresG{
0%{
-webkit-transform:scale(1);
background-color:#000000;
}

100%{
-webkit-transform:scale(.3) rotate(90deg);
background-color:#FF8205;
}

}

@-ms-keyframes bounce_spinningSquaresG{
0%{
-ms-transform:scale(1);
background-color:#000000;
}

100%{
-ms-transform:scale(.3) rotate(90deg);
background-color:#FF8205;
}

}

@-o-keyframes bounce_spinningSquaresG{
0%{
-o-transform:scale(1);
background-color:#000000;
}

100%{
-o-transform:scale(.3) rotate(90deg);
background-color:#FF8205;
}

}

@keyframes bounce_spinningSquaresG{
0%{
transform:scale(1);
background-color:#000000;
}

100%{
transform:scale(.3) rotate(90deg);
background-color:#FF8205;
}

}

</style>
<div id="spinningSquaresG">
	<div id="spinningSquaresG_1" class="spinningSquaresG">
	</div>
	<div id="spinningSquaresG_2" class="spinningSquaresG">
	</div>
	<div id="spinningSquaresG_3" class="spinningSquaresG">
	</div>
	<div id="spinningSquaresG_4" class="spinningSquaresG">
	</div>
	<div id="spinningSquaresG_5" class="spinningSquaresG">
	</div>
	<div id="spinningSquaresG_6" class="spinningSquaresG">
	</div>
	<div id="spinningSquaresG_7" class="spinningSquaresG">
	</div>
	<div id="spinningSquaresG_8" class="spinningSquaresG">
	</div>
</div>
		</div>
	    <div class="container" id="contentContainer" style="display:none;">
	    	
    		

	<h1>About Us</h1>
	<hr>
	
	<div class="row">
		<div class="col-sm-6 aboutUsCell" >
			















	








<br>













	<div class="postSummary">
	<p>We are a locally owned and operated restaurant that focuses on bringing you tasty culinary creations inspired by the latin american kitchen of my family. We only use fresh &amp; high grade ingredients to prepare each of our plates and want to make sure you taste the passion we have for our food in every bite you have.</p>

<p>For a fully detailed explanation of our menu entr&eacute;es, margaritas, vinos, other drinks &amp; desserts, please see our <a href="http://localhost:8080/menu">menu</a>.</p>

	</div>















			<hr>
		</div>
		<div class="col-sm-6" >
			
			





<style>
	.nivoSlider img {
		max-height: 433px;
		width: auto;
		height: auto;
	}
	.nivo-caption {
		font-size: 1.6em;
		text-align: center;
	}
</style>

<link rel="stylesheet" href="resources/css/nivo-slider.css" type="text/css" />
<link rel="stylesheet" href="resources/css/NivoSliderThemes/bar/bar.css" type="text/css" />
<script src="resources/js/jquery.nivo.slider.pack.js" type="text/javascript"></script>




<div class="slider-wrapper theme-bar" >
	<div class="ribbon"></div>
	<div id="slider" class="nivoSlider">
	
		
		
			<img src="502b6.jpg?id=93" alt="" title=""/>
		
		
		
			<img src="4f3bc.jpg?id=92" alt="" title=""/>
		
		
		
			<img src="3e8ec.jpg?id=91" alt="" title=""/>
		
		
		
			<img src="23234.jpg?id=90" alt="" title=""/>
		
		
		
			<img src="1d575.jpg?id=89" alt="" title=""/>
		
		
		
	</div>
</div>

<script src="resources/js/imageslider.js"></script>



























			
		</div>
	</div>
	
	
		
	


    		
    	</div>
    	
    	<br><br>
    	
    </div><!-- wrap div ends -->
    
    <div id="footer">
    	<div class="container">
    		<div class="row">
    			<div class="col-sm-3 col-sm-offset-1 column">
		    		<div>
			    		<h3 class="footerTitle">ZIVAZ</h3>
			    		<p>MEXICAN KITCHEN &amp; CATERING</p>
			    		<p>2010-2015 ALL RIGHTS RESERVED</p>
			    		<p>
			    			Web Developed by 
			    			<a target="_blank" href="http://esantini.com/" id="eSantiniLink">
			    				eSantini.com
			    			</a>
			    		</p>
			    	</div>
	    		</div>
	    		<div class="col-sm-1 column">
		    		<div style="padding-top: 30px;">
		    			<a href="https://www.facebook.com/pages/Zivaz-Mexican-Bistro/259912693455" target="_blank" >
			    			<img src="resources/images/facebookLogo.svg" />
			    		</a>
			    	</div>
	    		</div>
	    		<div class="col-sm-3 column">
	    			<div class="address" onclick="showMap()">
		    			
		    			<p style="text-decoration: underline;">
		    					Google Map
		    			</p>
		    			<p>
		    					4590 E Broadway Blvd,
		    			</p>
		    			<p>
		    					Tucson, AZ 85711
		    			</p>
						<p>
		    					(520) 325-1234
		    			</p>
	    			</div>
	    		</div>
	    		<div class="col-sm-3 column">
	    			<div class="schedule" >
		    			<p>
							Restaurant Hours:
		    			</p>
						<p>
							Mon to Thu 11am to 8pm
		    			</p>
						<p>
							Fri to Sat 11am to 9pm
		    			</p>
						<p>
							Sunday Closed
		    			</p>
	    			</div>
	    		</div>

	    		<div class="col-sm-1 column">
	    		</div>
	    	</div>
	    </div>
    </div>
    
    
    
    
</body>
	
	<script src="../maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<script src="resources/js/modernizr.svg.js" ></script>
    <script>


		$( window ).ready(function() {
			$('#loadingAnimation').hide();
			$('#contentContainer').show();
		});
		
		if (!Modernizr.svg) {
			$('img[src$=".svg"]').each(function() {
				$(this).attr('src', $(this).attr('src').replace('.svg', '.png'));
			});
			
			$('#footer .column').css('display', 'inline-block');
		}
		
		$("nav a").filter(function(){
		    return this.href == location.href.replace(/#.*/, "");
		}).addClass("active");
		

		function showMap() {
			$('#element_to_pop_up').bPopup({
	        	content:'iframe',
	        	contentContainer:'.popupMenuCarousel',
	        	id:'bpopupIFrame',
	            loadUrl:'https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3375.3717402171924!2d-110.89475670000002!3d32.2211557!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x86d66fdb9a06baa3%3A0xb63f25d24ad86a17!2sZivaz+Mexican+Bistro!5e0!3m2!1sen!2s!4v1437691905542'
	        });
			//<iframe src="" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
		};
    </script>
    

<!-- Mirrored from zivaz.com/aboutus by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 19 Aug 2017 06:28:34 GMT -->
</html>