<div>
	<h3 style="margin: 0 16%; width: 60%;">
		Zivaz catering is simple delicious, always delivering taste &amp; satisfaction. From intimate private parties &amp; office
		luncheons, to large corporate eventes &amp; celebrations, we can make it special.
	</h3>
</div>
<div id="menuMain">

	<div id="menuContainerMiddle">

		<% include ../partials/catering/appetizers %>

		<% include ../partials/catering/signEntrees %>

		<% include ../partials/menu/labels %>

		<% include ../partials/menu/healthMessage %>

	</div>

</div>

<script>
	var categories = $('.categoryTitle');
	function switchTitleColors() {


		for (i = 0; i < categories.length; i++) {

			var catTitle;

			// This if/else is because IE8 and previous versions dont have element.getElementsByClassName
			if (typeof categories[0].getElementsByClassName == 'function') {
				catTitle = categories[i].getElementsByClassName('showHideLink')[0].children[0].children[1].innerHTML.trim();
			} else {
				catTitle = getElementsByClassName("showHideLink", null, categories[i])[0].children[0].children[1].innerHTML.trim();
			}

			switch (catTitle) {
				case 'APPETIZERS':
					$(categories[i].parentNode).addClass('appetizers');
					break;
				case 'SOPAS &amp; ENSALADAS':
					$(categories[i].parentNode).addClass('sopas');
					break;
				case 'FONDA KITCHEN':
					$(categories[i].parentNode).addClass('fondaKitchen');

					var cols = $(categories[i].parentNode).find('.col-md-6');
					$(cols[1]).addClass('filling');

					break;
				case 'ASADA BURGER':
					$(categories[i].parentNode).addClass('asadaBurger');

					$($(categories[i].parentNode).find('.col-md-6')[1]).addClass("angus");

					break;
				case 'MEXICAN FLAVORS':
					$(categories[i].parentNode).addClass('mexicanFlavors');
					break;
				case 'DELICIOUS MARGARITAS':
					$(categories[i].parentNode).addClass('margaritas');
					$(categories[i].parentNode).find('.menuContent').append(
						'<div class="alsoBeer"><p><img src="resources/images/menu/alsoBeer.png" /></p></div>');
					break;
				default:
					//Statements executed when none of the values match the value of the expression
					break;
			}

		}
	};

	function addSubItemTitles() {
		$("label.menuItemTitle:contains('Margarita de Jamaica')")
			.after("<label class='menuItemTitle sub'>(Hibiscus Margarita)</label>");

		$("label.menuItemTitle:contains('Margarita de Lim')")
			.after("<label class='menuItemTitle sub'>(Lime Margarita)</label>");

		//Enchiladas extend column width.
		$('#menuContent16 .menuItemSummary').attr('style', 'width:100%;max-width:100%;');
		$('#menuContent16 .menuItem').attr('style', 'padding-right: 0px;');
		$('#menuContent16 .menuItem').parent().attr('class', 'col-md-7');
	}

	function pushTitlesWithItemStatus() {
		var menuItems = $(".menuItem");
		for (i = 0; i < menuItems.length; i++) {
			if ($(menuItems[i]).find('.menuItemStatusImage').length > 0) {
				$(menuItems[i]).find('.menuItemTitle').css('padding-left', '45px');
				$(menuItems[i]).find('.subItemTitle').css('padding-left', '45px');
				$(menuItems[i]).find('.menuItemSummary').css('padding-left', '45px').css('min-height', '50px');
			}
		}
	};


	$(document).ready(function () {
		switchTitleColors();
		addSubItemTitles();
		pushTitlesWithItemStatus();


	});

	$(window).ready(function () {
		var categoryCount = $(".categoryTitle").length;
		var delayTime = 111;
		$(".categoryTitle").each(function (index) {
			$(this).delay(delayTime * index).animate({ opacity: 1 }, 200);
		});
		$("#menuLabels").delay(delayTime * categoryCount).animate({ opacity: 1 }, 200);
		$('.col-md-60').removeClass('col-md-60').addClass('col-md-6');
	});

</script>