<div class="menuCategory" id="appetizers">
	<span class="categoryTitle">
					

			<div id="hidemenuContent3Btn" style="display:none;" onclick="hidemenuContent3();" class="showHideLink" >
				<h2 style="display:inline-block;">
					<img alt="" src="resources/images/menuArrowDown.png" style="max-width:20px; height:auto;" />
					<label>APPETIZERS</label>
				</h2>
			</div>

			<div id="showmenuContent3Btn" style="display:inline-block;" onclick="showmenuContent3();" class="showHideLink">
				<h2>
					<img alt="" src="resources/images/menuArrowRight.png" style="max-height:25px; width:auto; padding-bottom: 5px;" />
					<label>APPETIZERS</label>
				</h2>
			</div>

			<br>

			<script type="text/javascript">
				function showmenuContent3() {
					$('#menuContent3').show(200);
					$('#hidemenuContent3Btn').css('display', 'inline-block');
					$('#showmenuContent3Btn').css('display', 'none');
				};
				function hidemenuContent3() {
					$('#menuContent3').hide(200);
					$('#hidemenuContent3Btn').css('display', 'none');
					$('#showmenuContent3Btn').css('display', 'inline-block');
				};
			</script>
		</span>
	<div>
	</div>

	<div class="menuContent" id="menuContent3">

		<br>

		<div class="row">
			<div class="col-md-6">

				<div class="menuItem">

					<div class="menuItemTitleDiv">

						<h3 style="display:inline-block">
							<label class="menuItemTitle">
								Guacamole and chips
							</label>
						</h3>

						<a class="myTooltip" style="position:absolute; right:0px; bottom:6px">
					
					<img alt="" src="V87f1.png?id=14">
					
					<span class="tooltipInfo">
						<img class="tooltipArrow" src="resources/images/tooltipArrow.png" />

						Vegetarian

					</span>
				</a>

						<div style="margin-top: -10px;">
							<img src="resources/images/menuItemSeparator.png" />
						</div>
					</div>

					<div class="menuItemSummary">
						<p>
							<ul>
								<li>
									<table border="0" cellpadding="1" cellspacing="1" style="width:100%">
										<tbody>
											<tr>
												<td>Avocado / chips</td>
												<td>23</td>
											</tr>
										</tbody>
									</table>

									<p> </p>
								</li>
							</ul>
							<p>Serves <strong>8 - 10</strong></p>

						</p>

					</div>

				</div>

			</div>

			<div class='col-md-6'>

				<div class="menuItem">

					<div class="menuItemTitleDiv">

						<h3 style="display:inline-block">
							<label class="menuItemTitle">
								Alitas Wings
							</label>
						</h3>

						<div style="margin-top: -10px;">
							<img src="resources/images/menuItemSeparator.png" />
						</div>
					</div>

					<div class="menuItemSummary">
						<p>Bone in chicken wings. Citrus or mole sauce</p>
						<ul>
							<li>
								<table border="0" cellpadding="1" cellspacing="1" style="width:100%;">
									<tbody>
										<tr>
											<td>Dozen Pieces</td>
											<td>11</td>
										</tr>
									</tbody>
								</table>

								<p> </p>
							</li>
						</ul>

						<p></p>

					</div>

				</div>

			</div>

		</div>
		<div class='row'>

			<div class='col-md-6'>

				<div class="menuItem">

					<div class="menuItemTitleDiv">

						<h3 style="display:inline-block">
							<label class="menuItemTitle">
								Calamari
							</label>
						</h3>

						<div style="margin-top: -10px;">
							<img src="resources/images/menuItemSeparator.png" />
						</div>
					</div>

					<div class="menuItemSummary">
						<p>
							Tasty panko breaded crispy calamari strips, served with chipotle aioli sauce </p>
						<ul>
							<li>
								<table border="0" cellpadding="1" cellspacing="1" style="width:100%">
									<tbody>
										<tr>
											<td>Price per dozen</td>
											<td>11</td>
										</tr>
									</tbody>
								</table>

								<p> </p>
							</li>
						</ul>

						<p></p>

					</div>

				</div>

			</div>

			<div class='col-md-6'>

				<div class="menuItem">

					<div class="menuItemTitleDiv">

						<h3 style="display:inline-block">
							<label class="menuItemTitle">
								Fantastic mini flautas
							</label>
						</h3>

						<a class="myTooltip" style="position:absolute; right:0px; bottom:6px">
							<img alt="" src="V87f1.png?id=14">
						</a>

						<div style="margin-top: -10px;">
							<img src="resources/images/menuItemSeparator.png" />
						</div>
					</div>

					<div class="menuItemSummary">
						<p>
						</p>
						<p>Jalapeno tortilla wrapped chicken with pepper and onions</p>

						<ul>
							<li>
								<table border="0" cellpadding="1" cellspacing="1" style="width:100%">
									<tbody>
										<tr>
											<td>Dozen pieces</td>
											<td>18</td>
										</tr>
									</tbody>
								</table>
							</li>

						</ul>

						<p></p>

					</div>

				</div>

			</div>

		</div>
		<div class='row'>

			<div class='col-md-6'>

				<div class="menuItem">

					<div class="menuItemTitleDiv">

						<h3 style="display:inline-block">
							<label class="menuItemTitle">
								Mini Skewers
							</label>
						</h3>

						<a class="myTooltip" style="position:absolute; right:0px; bottom:6px">
					
					<img alt="" src="Z7429.png?id=15">
					
					<span class="tooltipInfo">
						<img class="tooltipArrow" src="resources/images/tooltipArrow.png" />

						Zivaz Favorite

					</span>
				</a>
						<div style="margin-top: -10px;">
							<img src="resources/images/menuItemSeparator.png" />
						</div>
					</div>

					<div class="menuItemSummary">
						<p>
							Grilled small kabobs with red bell pepper, onion, poblano pepper
						</p>
						<p>
							<strong>
								Price per dozen
							</strong>
						</p>
						<ul>
							<li>
								<table border="0" cellpadding="1" cellspacing="1" style="width:100%">
									<tbody>

										<tr>
											<td>Chicken</td>
											<td>46</td>
										</tr>
										<tr>
											<td>Steak</td>
											<td>60</td>
										</tr>
										<tr>
											<td>Veggie</td>
											<td>36</td>
										</tr>
									</tbody>
								</table>

								<p> </p>
							</li>
						</ul>

						<p></p>
					</div>
				</div>
			</div>
			<div class='col-md-6'>

				<!-- <div class="menuItem"></div> -->

			</div>

		</div>

	</div>
</div>
