<div class="menuCategory" id="signEntrees">
	<span class="categoryTitle">
					

			<div id="hidemenuContentSEBtn" style="display:none;" onclick="hidemenuContentSE();" class="showHideLink" >
				<h2 style="display:inline-block;">
					<img alt="" src="resources/images/menuArrowDown.png" style="max-width:20px; height:auto;" />
					<label>SIGNATURE ENTREES</label>
				</h2>
			</div>

			<div id="showmenuContentSEBtn" style="display:inline-block;" onclick="showmenuContentSE();" class="showHideLink">
				<h2>
					<img alt="" src="resources/images/menuArrowRight.png" style="max-height:25px; width:auto; padding-bottom: 5px;" />
					<label>SIGNATURE ENTREES</label>
				</h2>
			</div>

			<br>

			<script type="text/javascript">
				function showmenuContentSE() {
					$('#menuContentSE').show(200);
					$('#hidemenuContentSEBtn').css('display', 'inline-block');
					$('#showmenuContentSEBtn').css('display', 'none');
				};
				function hidemenuContentSE() {
					$('#menuContentSE').hide(200);
					$('#hidemenuContentSEBtn').css('display', 'none');
					$('#showmenuContentSEBtn').css('display', 'inline-block');
				};
			</script>
		</span>
	<div>
	</div>

	<div class="menuContent" id="menuContentSE">

		<br>

		<p class="categoryIntro"> 
			All signature entrees are served with rice, beans (black or pinto), tortillas, chips & salsa.
		</p>
		<p class="categoryIntro" style="color: #f7d96d;">
			Minimum 10 orders per entree
		</p>
		<p class="categoryIntro">
			<strong>PRICE PER SERVING</strong>
		</p>

		<br />

		<div class="row">
			<div class="col-md-6">

				<div class="menuItem">

					<div class="menuItemTitleDiv">

						<h3 style="display:inline-block">
							<label class="menuItemTitle">
								Fajitas
							</label>
						</h3>

						<div style="margin-top: -10px;">
							<img src="resources/images/menuItemSeparator.png" />
						</div>
					</div>

					<div class="menuItemSummary">
						<p>
							Sautéed red bell & poblano peppers/onion
						</p>
						<p>
							<ul>
								<li>
									<table border="0" cellpadding="1" cellspacing="1" style="width:100%">
										<tbody>
											<tr>
												<td>Chicken</td>
												<td>9.95</td>
											</tr>
											<tr>
												<td>Steak</td>
												<td>10.95</td>
											</tr>
										</tbody>
									</table>

									<p> </p>
								</li>
							</ul>
						</p>

					</div>

				</div>

			</div>

			<div class='col-md-6'>

				<div class="menuItem">

					<div class="menuItemTitleDiv">

						<h3 style="display:inline-block">
							<label class="menuItemTitle">
								Salmon Asado
							</label>
						</h3>

						<div style="margin-top: -10px;">
							<img src="resources/images/menuItemSeparator.png" />
						</div>
					</div>

					<div class="menuItemSummary">
						<ul>
							<li>
								<table border="0" cellpadding="1" cellspacing="1" style="width:100%;">
									<tbody>
										<tr>
											<td>Achiote marinated salmon filet</td>
											<td>14.95</td>
										</tr>
									</tbody>
								</table>
							</li>
						</ul>

					</div>

				</div>

			</div>

		</div>
		<div class='row'>

			<div class='col-md-6'>

				<div class="menuItem">

					<div class="menuItemTitleDiv">

						<h3 style="display:inline-block">
							<label class="menuItemTitle">
								Pollo Rajas
							</label>
						</h3>

						<div style="margin-top: -10px;">
							<img src="resources/images/menuItemSeparator.png" />
						</div>
					</div>

					<div class="menuItemSummary">
						<ul>
							<li>
								<table border="0" cellpadding="1" cellspacing="1" style="width:100%">
									<tbody>
										<tr>
											<td>
												Grilled chicken in green poblano sauce with cheese & veggies
											</td>
											<td>9.95</td>
										</tr>
									</tbody>
								</table>
							</li>
						</ul>

					</div>

				</div>

			</div>

			<div class='col-md-6'>

				<div class="menuItem">

					<div class="menuItemTitleDiv">

						<h3 style="display:inline-block">
							<label class="menuItemTitle">
								Pollo con Calabazas
							</label>
						</h3>

						<div style="margin-top: -10px;">
							<img src="resources/images/menuItemSeparator.png" />
						</div>
					</div>

					<div class="menuItemSummary">
						<ul>
							<li>
								<table border="0" cellpadding="1" cellspacing="1" style="width:100%">
									<tbody>
										<tr>
											<td>Grilled chicken with zucchini, veggies and red tomato sauce</td>
											<td>9.95</td>
										</tr>
									</tbody>
								</table>
							</li>

						</ul>

					</div>

				</div>

			</div>

		</div>
		<div class='row'>

			<div class='col-md-6'>

				<div class="menuItem">

					<div class="menuItemTitleDiv">

						<h3 style="display:inline-block">
							<label class="menuItemTitle">
								Carnitas
							</label>
						</h3>

						<div style="margin-top: -10px;">
							<img src="resources/images/menuItemSeparator.png" />
						</div>
					</div>

					<div class="menuItemSummary">
						<ul>
							<li>
								<table border="0" cellpadding="1" cellspacing="1" style="width:100%">
									<tbody>

										<tr>
											<td>Slow-cooked marinated pork, tomatillo or mole sauce</td>
											<td>10.95</td>
										</tr>
									</tbody>
								</table>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class='col-md-6'>
				<div class="menuItem">

					<div class="menuItemTitleDiv">

						<h3 style="display:inline-block">
							<label class="menuItemTitle">
								Pollo Chipotle
							</label>
						</h3>

						<div style="margin-top: -10px;">
							<img src="resources/images/menuItemSeparator.png" />
						</div>
					</div>

					<div class="menuItemSummary">
						<ul>
							<li>
								<table border="0" cellpadding="1" cellspacing="1" style="width:100%">
									<tbody>

										<tr>
											<td>Grilled Chicken, Mushrooms, cheese and chipotle sauce</td>
											<td>9.95</td>
										</tr>
									</tbody>
								</table>
							</li>
						</ul>
					</div>
				</div>

			</div>

		</div>
		<div class='row'>

			<div class='col-md-6'>

				<div class="menuItem">

					<div class="menuItemTitleDiv">

						<h3 style="display:inline-block">
							<label class="menuItemTitle">
								Enchiladas
							</label>
						</h3>

						<div style="margin-top: -10px;">
							<img src="resources/images/menuItemSeparator.png" />
						</div>
					</div>

					<div class="menuItemSummary">
						<p>
							Choice of poblano, mole, chipotle or red sauce.
						</p>
						<p style="color: #f7d96d" >
							2 enchiladas per serving
						</p>
						<ul>
							<li>
								<table border="0" cellpadding="1" cellspacing="1" style="width:100%">
									<tbody>
										<tr>
											<td>Chicken or Cheese or Veggie</td>
											<td>9.95</td>
										</tr>
									</tbody>
								</table>
							</li>
						</ul>
					</div>
				</div>
				
			</div>
			<div class='col-md-6'>
				<div class="menuItem">

					<div class="menuItemTitleDiv">

						<h3 style="display:inline-block">
							<label class="menuItemTitle">
								Puntas Zivaz
							</label>
						</h3>

						<a class="myTooltip" style="position:absolute; right:0px; bottom:6px">
							
							<img alt="Zivaz Favorite" src="Z7429.png?id=15">
							
							<span class="tooltipInfo">
								<img class="tooltipArrow" src="resources/images/tooltipArrow.png" />
								Zivaz Favorite
							</span>
						</a>

						<div style="margin-top: -10px;">
							<img src="resources/images/menuItemSeparator.png" />
						</div>
					</div>

					<div class="menuItemSummary">
						<ul>
							<li>
								<table border="0" cellpadding="1" cellspacing="1" style="width:100%">
									<tbody>

										<tr>
											<td>Beef tender strips in chile chipotle sauce</td>
											<td>14.95</td>
										</tr>
									</tbody>
								</table>
							</li>
						</ul>

					</div>
				</div>

			</div>

		</div>
	</div>
</div>
