<div id="loadingAnimation">
	<h1 id="loadingText">LOADING</h1>

	<style>
		#spinningSquaresG {
			position: relative;
			width: 240px;
			height: 29px
		}

		.spinningSquaresG {
			position: absolute;
			top: 0;
			background-color: #000000;
			width: 29px;
			height: 29px;
			-moz-animation-name: bounce_spinningSquaresG;
			-moz-animation-duration: 1.5s;
			-moz-animation-iteration-count: infinite;
			-moz-animation-direction: normal;
			-moz-transform: scale(.3);
			-webkit-animation-name: bounce_spinningSquaresG;
			-webkit-animation-duration: 1.5s;
			-webkit-animation-iteration-count: infinite;
			-webkit-animation-direction: normal;
			-webkit-transform: scale(.3);
			-ms-animation-name: bounce_spinningSquaresG;
			-ms-animation-duration: 1.5s;
			-ms-animation-iteration-count: infinite;
			-ms-animation-direction: normal;
			-ms-transform: scale(.3);
			-o-animation-name: bounce_spinningSquaresG;
			-o-animation-duration: 1.5s;
			-o-animation-iteration-count: infinite;
			-o-animation-direction: normal;
			-o-transform: scale(.3);
			animation-name: bounce_spinningSquaresG;
			animation-duration: 1.5s;
			animation-iteration-count: infinite;
			animation-direction: normal;
			transform: scale(.3);
		}

		#spinningSquaresG_1 {
			left: 0;
			-moz-animation-delay: 0.6s;
			-webkit-animation-delay: 0.6s;
			-ms-animation-delay: 0.6s;
			-o-animation-delay: 0.6s;
			animation-delay: 0.6s;
		}

		#spinningSquaresG_2 {
			left: 30px;
			-moz-animation-delay: 0.75s;
			-webkit-animation-delay: 0.75s;
			-ms-animation-delay: 0.75s;
			-o-animation-delay: 0.75s;
			animation-delay: 0.75s;
		}

		#spinningSquaresG_3 {
			left: 60px;
			-moz-animation-delay: 0.9s;
			-webkit-animation-delay: 0.9s;
			-ms-animation-delay: 0.9s;
			-o-animation-delay: 0.9s;
			animation-delay: 0.9s;
		}

		#spinningSquaresG_4 {
			left: 90px;
			-moz-animation-delay: 1.05s;
			-webkit-animation-delay: 1.05s;
			-ms-animation-delay: 1.05s;
			-o-animation-delay: 1.05s;
			animation-delay: 1.05s;
		}

		#spinningSquaresG_5 {
			left: 120px;
			-moz-animation-delay: 1.2s;
			-webkit-animation-delay: 1.2s;
			-ms-animation-delay: 1.2s;
			-o-animation-delay: 1.2s;
			animation-delay: 1.2s;
		}

		#spinningSquaresG_6 {
			left: 150px;
			-moz-animation-delay: 1.35s;
			-webkit-animation-delay: 1.35s;
			-ms-animation-delay: 1.35s;
			-o-animation-delay: 1.35s;
			animation-delay: 1.35s;
		}

		#spinningSquaresG_7 {
			left: 180px;
			-moz-animation-delay: 1.5s;
			-webkit-animation-delay: 1.5s;
			-ms-animation-delay: 1.5s;
			-o-animation-delay: 1.5s;
			animation-delay: 1.5s;
		}

		#spinningSquaresG_8 {
			left: 210px;
			-moz-animation-delay: 1.65s;
			-webkit-animation-delay: 1.65s;
			-ms-animation-delay: 1.65s;
			-o-animation-delay: 1.65s;
			animation-delay: 1.65s;
		}

		@-moz-keyframes bounce_spinningSquaresG {
			0% {
				-moz-transform: scale(1);
				background-color: #000000;
			}

			100% {
				-moz-transform: scale(.3) rotate(90deg);
				background-color: #FF8205;
			}
		}

		@-webkit-keyframes bounce_spinningSquaresG {
			0% {
				-webkit-transform: scale(1);
				background-color: #000000;
			}

			100% {
				-webkit-transform: scale(.3) rotate(90deg);
				background-color: #FF8205;
			}
		}

		@-ms-keyframes bounce_spinningSquaresG {
			0% {
				-ms-transform: scale(1);
				background-color: #000000;
			}

			100% {
				-ms-transform: scale(.3) rotate(90deg);
				background-color: #FF8205;
			}
		}

		@-o-keyframes bounce_spinningSquaresG {
			0% {
				-o-transform: scale(1);
				background-color: #000000;
			}

			100% {
				-o-transform: scale(.3) rotate(90deg);
				background-color: #FF8205;
			}
		}

		@keyframes bounce_spinningSquaresG {
			0% {
				transform: scale(1);
				background-color: #000000;
			}

			100% {
				transform: scale(.3) rotate(90deg);
				background-color: #FF8205;
			}
		}
	</style>
	<div id="spinningSquaresG">
		<div id="spinningSquaresG_1" class="spinningSquaresG">
		</div>
		<div id="spinningSquaresG_2" class="spinningSquaresG">
		</div>
		<div id="spinningSquaresG_3" class="spinningSquaresG">
		</div>
		<div id="spinningSquaresG_4" class="spinningSquaresG">
		</div>
		<div id="spinningSquaresG_5" class="spinningSquaresG">
		</div>
		<div id="spinningSquaresG_6" class="spinningSquaresG">
		</div>
		<div id="spinningSquaresG_7" class="spinningSquaresG">
		</div>
		<div id="spinningSquaresG_8" class="spinningSquaresG">
		</div>
	</div>
</div>